$background-color: #F0F4F8;
$border-color: #BAD6D4;
$hover-color: #E2EAE2;
$white-color: #FFFFFF;
$comment-sec-bg-color: #F0FFFF;
$task-bg-color: #81BCB8;
$task-add-input-color: #CCD6E8;
$i-color: #787F7F;
$font-color: #2F2727;
$input-bg-color: #E6E9EF;
$font-family: 'Source Sans Pro', sans-serif;
$box-shadow-color: #222222;
$header-font-color: #000000;
$footer-bg-color: #F9F9F9;
$footer-font-color: #000000;
